@use "variable" as *;
/* Layout */
@mixin reset{
    padding: 0; 
    margin: 0;   
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    }



@mixin grid-body-1($selektor,$row-height:75vh,$auto:50vh,)
{
    #{$selektor}{
        display: grid;
        width: 100%;
        grid: auto-flow $row-height $row-height $auto/none;
        @content;
    }
    

}



/* Config */
@mixin text-config($margin:0,$padding:0.5em,$line-height:auto)
{
    margin:$margin;
    padding:$padding;
    line-height: $line-height;
    @content
}

@mixin fixed-position( $inset,$position:fixed){
    position: $position;
    inset: $inset;
    @content
}

@mixin absolute-position($inset,$position:absolute){
    position: $position;
    inset: $inset;
    @content
}

/* Div einstellen */

@mixin max-div($width:100%,$height:100%,$circle:false)
{
    height: $height;
    width: $width;
    @content;
    @if $circle {
        border-radius: 50%;
        
    }
}

/* BorderShape */

@mixin shape-border($border)
{
    height: 0;
    width: 0;
    border: $border;
    border-radius: 50%;
    @content


}

/* background-image */
@mixin background-config($size:cover,$position:center,$repeat:no-repeat,$color:tomato){
    background: {
        size:$size;
        position: $position;
        repeat:$repeat;
        color: $color;
    };
    @content
}

/* dice */

@mixin dice3d($width-height)
{
    height: $width-height;
    width: $width-height;
    perspective:3000px;
    perspective-origin: 50% 50%;
    transform-style: preserve-3d;
    @content
}

/* Icon */

@mixin icon-before($margin,$width:25px,$height:25px,){
    content: "";
    width: $width;
    height: $height;
    display: inline-block;
    margin:$margin;
    @content

}

@font-face {
    font-family: Maven;
    src: url(/Font/Maven_Pro/static/MavenPro-Medium.ttf);
    font-weight: normal;
}


