@use "../variable" as *;
@use "../function" as *;
@include grid-body-1("#container",100vh,75vh);

// #container{
//     display: grid;
//     grid: 75vh 75vh 20vh/none;
// }

* {
    @include reset;
    font-family: "Maven", sans-serif;
    scroll-behavior: smooth;
  }
  
header {
  display: grid;
  grid:auto 1fr /none;
  @include max-div;
  /* section,summary */
}
footer {
  background: linear-gradient(0.5turn, $forth-color, red);

}



@media (min-width:$desktop){
    @include grid-body-1("#container",100vh,30vh);
} 