@use "../variable" as *;
@use "../function" as *;

#navi {
  
    @include max-div(100px, 100px);
    @include fixed-position(0.2rem 1rem auto auto);
    z-index: 10;
  
    .navi-container {
      @include max-div($circle: true) {
        position: relative;
        z-index: 12;
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        @include shape-border(50px solid blue) {
          border-left: 50px solid yellow;
          border-bottom: 50px solid tomato;
          border-right: 50px solid green;
          z-index: 11;
          animation: puls 1s ease alternate infinite both running;
          -webkit-animation: puls 1s ease alternate infinite both running;
        }
      }
      &:hover::before {
        animation-play-state: paused;
        -webkit-animation-play-state: paused;
      }
      h2.navi-kreis {
        @include max-div() {
          position: absolute;
  
          z-index: 12;
        }
  
        p {
          display: block;
          margin: 10px auto;
  
          @include shape-border(2.5rem solid blue) {
            border-top: 2.5rem solid yellow;
            border-right: 2.5rem solid tomato;
            border-bottom: 2.5rem solid green;
          }
          animation: drehen 2s infinite alternate running;
          -webkit-animation: drehen 2s infinite alternate running;
        }
        &:hover {
          p {
            animation-play-state: paused;
            -webkit-animation-play-state: paused;
          }
        }
      }
  
      ul.navi-bar {
        @include absolute-position(15px 20px auto auto);
        z-index: 1;
        direction: rtl;
        a{
          color: brown;
        }
      }
  
      .navi-home,
      .navi-projekt,
      .navi-kontakt {
        transition: all 0.5s ease-out ;
        text-align: center;
        line-height: 20px;
        &:hover{
          background-color: black;
          border-radius: 5px;
        }
      }
  
      &:hover {
        .navi-home,
        .navi-projekt,
        .navi-kontakt {
          transform: translate(-75px) rotate(360deg);
          padding-top: 5px;
        }
      }
    }

  }
  
  
  @-webkit-keyframes drehen {
    0% {
      transform: rotate(1turn);
    }
  
    100% {
      transform: rotate(5turn);
    }
  }
  
  @keyframes drehen {
    0% {
      transform: rotate(1turn);
    }
  
    100% {
      transform: rotate(5turn);
    }
  }
  
  @-webkit-keyframes puls {
    0% {
      opacity: 0;
    }
  
    50% {
      rotate: 5turn;
    }
  
    100% {
      scale: 1.01;
      opacity: 0.3;
    }
  }
  
  @keyframes puls {
    0% {
      opacity: 0;
    }
  
    50% {
      rotate: 5turn;
    }
  
    100% {
      scale: 1.01;
      opacity: 0.3;
    }
  }
  